/*################# Perfil.html sm #################*/

/* Color de avatar */
#avatarprofile {
    height: 40vh;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/* Nombre y apellido */
.nya {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.3rem;
}

.nuni {
    font-family: 'Nunito', sans-serif;
}

/***************** BOTONES ACORDIÓN *****************/

/* Chau bordes redondeados */
#accordion .card, #accordion .card-header, #accordion .card-header button {
    border-radius: 0 !important;
}

/* Ancho del contenido*/
#accordion .card-header button {
    padding: .75rem 1.25rem !important;
}

/* Rotación de la flecha al cliquear*/
a:not(.collapsed) .fa-angle-right {
    transform: rotate(90deg);
}

/* Decorando links*/
#accordion .card a {
    text-decoration: none !important;
    color: rgb(71, 71, 71) !important;
    font-size: 1.2rem;
}

/*########################################### Profile.html desktop #######################################*/

#avatarprofile, #profilelp, #profilebp {
    background: rgb(196, 196, 196);
    background: linear-gradient(180deg, rgba(196, 196, 196, 1) 0%, rgba(171, 171, 171, 1) 100%);
}

#profilelp {
    height: 41.5rem;
    border-right: white 1.5rem solid;
}

#profilebp {
    height: 25rem;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

@media (min-width: 992px) {
    #avatarprofile {
        height: 15rem;
    }
    .nya {
        font-size: 1.8rem;
    }
    #avatarprofile, #profilebp {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

/*########################################## Login.html #######################################*/

#bodylogin {
    background-image: url("../img/pattern.png");
    background-size: contain;
}

.login {
    min-height: 100vh;
}

/* Opacity en sm */
.opacitylogin {
    background-color: rgba(255, 255, 255, 80%);
}

/* Opacity md+ */
@media (min-width: 768px) {
    .opacitylogin {
        background-color: rgba(255, 255, 255, 90%);
    }
}

/* Container sin márgenes para sm y md */
@media (max-width: 992px) {
    #bodylogin .container {
        max-width: 100%;
    }
}