/* estilos home */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}


.searchbar{
    background-color: #353b48;
    border-radius: 30px;
}

.search_input{
    color: white;
    border: 0;
    background: none;
    line-height: 40px;
    padding: 0 10px;
    caret-color: white;

}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}



.botones-navbar i{

    color: black;

}

/* estilos lista-producto */
.box{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    
}
.box:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



/* estilos detalle-producto */
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
      
      .number-input {
        border: 2px solid #ddd;
        display: inline-flex;
      }
      
      .number-input,
      .number-input * {
        box-sizing: border-box;
      }
      
      .number-input button {
        outline:none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
      }
      
      .number-input button:before,
      .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1rem;
        height: 2px;
        background-color: #212121;
        transform: translate(-50%, -50%);
      }
      .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      
      .number-input input[type=number] {
        font-family: sans-serif;
        max-width: 5rem;
        padding: .5rem;
        border: solid #ddd;
        border-width: 0 2px;
        font-size: 1rem;
        height: 2rem;
        font-weight: bold;
        text-align: center;
      }

* {
    box-sizing: border-box;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*################# Perfil.html sm #################*/

/* Color de avatar */
#avatarprofile {
    height: 40vh;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/* Nombre y apellido */
.nya {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.3rem;
}

.nuni {
    font-family: 'Nunito', sans-serif;
}

/***************** BOTONES ACORDIÓN *****************/

/* Chau bordes redondeados */
#accordion .card, #accordion .card-header, #accordion .card-header button {
    border-radius: 0 !important;
}

/* Ancho del contenido*/
#accordion .card-header button {
    padding: .75rem 1.25rem !important;
}

/* Rotación de la flecha al cliquear*/
a:not(.collapsed) .fa-angle-right {
    transform: rotate(90deg);
}

/* Decorando links*/
#accordion .card a {
    text-decoration: none !important;
    color: rgb(71, 71, 71) !important;
    font-size: 1.2rem;
}

/*########################################### Profile.html desktop #######################################*/

#bodyprofile {
    background-image: url("../img/pattern.png");
    background-size: contain;
}

#avatarprofile, #profilelp, #profilebp {
    background: rgb(196, 196, 196);
    background: linear-gradient(180deg, rgba(196, 196, 196, 1) 0%, rgba(171, 171, 171, 1) 100%);
}

#profilelp {
    min-width: 0 !important;
    width: 100%;
}

#profilebp {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#profilebp ul li a {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

@media (min-width: 992px) {
    #avatarprofile {
        height: 15rem;
    }
    .nya {
        font-size: 1.8rem;
    }
    #avatarprofile, #profilebp {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

/*########################################## Login.html #######################################*/

#bodylogin {
    background-image: url("../img/pattern.png");
    background-size: contain;
}

.login {
    min-height: 100vh;
}

/* Opacity en sm */
.opacitylogin {
    background-color: rgba(255, 255, 255, 80%);
}

/* Opacity md+ */
@media (min-width: 768px) {
    .opacitylogin {
        background-color: rgba(255, 255, 255, 90%);
    }
}

/* Container sin márgenes para sm y md */
@media (max-width: 992px) {
    #bodylogin .container {
        max-width: 100%;
    }
}