<<<<<<< Updated upstream


/* estilos home */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}


.searchbar{
    background-color: #353b48;
    border-radius: 30px;
}

.search_input{
    color: white;
    border: 0;
    background: none;
    line-height: 40px;
    padding: 0 10px;
    caret-color: white;

}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}



.botones-navbar i{

    color: black;

}

/* estilos lista-producto */
.box{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    
}
.box:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



/* estilos detalle-producto */
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
      
      .number-input {
        border: 2px solid #ddd;
        display: inline-flex;
      }
      
      .number-input,
      .number-input * {
        box-sizing: border-box;
      }
      
      .number-input button {
        outline:none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
      }
      
      .number-input button:before,
      .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1rem;
        height: 2px;
        background-color: #212121;
        transform: translate(-50%, -50%);
      }
      .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      
      .number-input input[type=number] {
        font-family: sans-serif;
        max-width: 5rem;
        padding: .5rem;
        border: solid #ddd;
        border-width: 0 2px;
        font-size: 1rem;
        height: 2rem;
        font-weight: bold;
        text-align: center;
      }
=======
* {
    box-sizing: border-box;
}
body {

}
header nav a {
    text-decoration: none;
    color: white;
}

header nav span {
    color: white;
}

header nav div ul li a{
    color: white;
}
header>nav {
    display: flex;
}
#buscar {
    justify-content: flex-end;
    display: none;
}
>>>>>>> Stashed changes
