.odibee{
    font-family: 'Odibee Sans';
}
.raleway{
    font-family: 'Raleway';
}
.bg-sky {
    background: url(../img/bg.jpg);
}
.fsize-1{
    font-size: 1rem;
}
.fsize-2{
    font-size: 1.3rem;
}
.fsize-3{
    font-size: 1.7rem;
}
.fsize-4{
    font-size: 2.3rem;
}
.fsize-5{
    font-size: 3rem;
}
.shadow-lg {
   box-shadow: 0 0rem 2rem rgba(0,0,0,100%)!important;
}
